@import url(common.css);

div.pannelHead {
    font-size: 1.25rem;
    font-weight: normal;
    color: #606060;
    margin: 1.25rem;
}

div.pannel {
    margin: 0.75rem;
}

input.numInput {
    border-width: 0 0 0.125rem 0;
    border-color: #DDDDDD;
    text-align: center;
    outline: none;
    transition: all 0.4s ease-in-out;
    width: 2.8125rem;
    font-size: 1.25rem;
    color: #606060;
    -webkit-appearance:none;
}

input.numInput:focus {
    border-color: deepskyblue;
}

a#start {
    background-color: deepskyblue;
    color: white;
    padding: 0.3125rem 0.9375rem;
    box-shadow: 0px 0.125rem 0.4375rem #CCCCCC;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: all 0.1s ease-in-out;
}

a#start:hover {
    box-shadow: 0px 0.25rem 1rem 0.15rem #CCCCCC;
}

div.word {
    background-color: #F9F9F9;
    width: 25rem;
    box-shadow: 0px 0px 0.625rem #CCCCCC;
    padding: 0.4375rem;
    font-size: 1.25rem;
    color: #505050;
    margin-top: 0.5rem;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

div.word:hover {
    background-color: #E7E7E7;
}

div.js-item-hover {
    background-color: #d0d0d0;
    transition: all 0.5s ease-in-out;
}

span.wordText {
    float: left;
    padding-left: 1.875rem;
}

span.buttons {
    padding-right: 1.875rem;
    float: right;
}

img.Button {
    height: 1.25em;
    vertical-align: middle;
    padding: 0px 0.4375rem;
    cursor: pointer;
}

img.Button.down {
    height: 1.4375em;
}

#stopBtn {
    border-radius: 50%;
    background-color: #F8F8F8;
    box-shadow: 0 0 0.625rem #CCCCCC;
    cursor: pointer;
    position: fixed;
    right: 3.125rem;
    bottom: 3.125rem;
    top: 0px;
    margin: 0px;
    margin-top: auto;
    width: 3.125rem;
    height: 3.125rem;
    transition: all 0.5s ease-in-out;
}

#stopBtn:hover {
    box-shadow: 0 0 1.07rem #999999;
}

#stopDiv {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 13%;
    background-color: #484848;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}